/*
 * Style tweaks
 * --------------------------------------------------
 */
 #registeroidy>a>img{
 width: 100%;
 height: 100%;
 }
 
 #rekisteroidy{
	width: 200px;
	float: right;
 }
 
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  
}
body {
  padding-top: 70px;
  /*background-image: url('../img/logo.png');*/
}
footer {
  padding: 30px 0;
}

#logo{	
	max-width: 970px;
	height: 100px;
	margin-top: -42.5px;
	margin-bottom: 5px;
}

@media (max-width: 764px) {
   #logo {
   
   margin-top: 0px;
  }
}
@media (min-width: 1000px) {
   #logo {
   margin-left: 70px;
  }
}



#logo > a > img{
	width: 200px;
	
}

.navbar{
	border-radius: 0 !important;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
 
 /*Blogipostausjutut*/
 /* Kuvakoon rajoitus*/
 img{
	width: 100%;
 }
 
 .pic{
	max-width: 800px;
	
}
 

 .blogit{
	background-color: rgb(238, 238, 238);
	margin: 10px;
	height: 450px;
	max-width: 250px;
	display: block;
	overflow: hidden;
	border-radius:6px;
 }
 .blogit>img{
	width: 250px;
	height:180px;
	margin-left: -15px;
	border-bottom: 2px solid grey;
 }
 
 .bDescription{
	word-wrap:break-word;
	height: 50px;
	text-overflow: "...";
	margin-bottom: -10px;
 }
 
 .bAbout{
	
	word-wrap:break-word;
	height: 85px;
	text-overflow: "...";
 }
 
 .blogit > a{
	position: absolute;
	bottom: 10px;
 }
 
 
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}
