/*
 * Globals
 * Värit: Tumma vihreä: #16464E 16464E , kirkas vihreä:#3C8D9B 3C8D9B  , vaalea vihreä: #70D6E7  70D6E7
 * korostusvärit: tumma liila:#291B10 291B10 vaaleampi liila: #9B6A45 9B6A45 #be916e
 */

body {
  font-family:"Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
   background-image: url('../img/cream_dust_blue.png');
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
font-family:"Arial Black", Gadget, sans-serif;
   font-weight: bold;
  color: #16464E;
}

a {
  color: #3C8D9B;
  text-decoration: none;
}
a:hover,
a:focus {

  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/*
 * Override Bootstrap's default container.
 */
 .container2
{
background-color: white;
-webkit-box-shadow: 0 5px 7px rgba(0, 0, 0, 0.22);
	   -moz-box-shadow: 0 5px 7px rgba(0, 0, 0, 0.22);
	       box-shadow: 0 5px 7px rgba(0, 0, 0, 0.22);
 background-color: #f;
}

.paddingfix{
padding-left: 5%;
padding-right: 5%;

}

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}




/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #291B10;
  box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 5px;
  font-weight: 500;
  color: #9B6A45;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #9B6A45;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff ;
}

/* Luo uusi blogi ja kirjaudu sisään -linkit */
.blog-nav-new , .blog-nav-login{
	float: right;
	
 position: relative;
  display: inline-block;
  padding: 5px;
  font-weight: 500;
  color:#be916e;
}


/*
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right:  5px solid transparent;
  border-bottom: 5px solid;
  border-left:   5px solid transparent;
}
*/

/*
 * Blog name and description
 */
 
 /* Kansikuva! */
 
.blog-cover-image{
	width: 100%;
	height: 20em;
	background-image: url('../img/lugano-switzerland-cityscape-above-monte-san-salvatore-free-stock-photo.JPG');
	background-size: cover;


}

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {

   border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 5%;

  margin: 0 -5px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}



/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
  border: none;
}

.pager > li > a :hover {
	text-decoration: underline;
}


/*
 * Blog posts
 */

.blog-post {
padding-bottom: 15px;
  margin-bottom: 60px;
  border-bottom: 1px solid #eee;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}


/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
